<%= image_tag "new-fight.png", class:"img-fluid mt-3" %>
<% if @game.errors.any? %>
  <div class='alert alert-danger p-2'>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row mb-3">
  <div class="col-md-4">
      <%= form_for @game do |f| %>
        <label class="container mt-4">Choose Player 1</label>
        <div class="container">
            <%= f.collection_select :player_a_id, @characters, :id, :name, class:"form-control select2"%>
        </div>
        <label class="container mt-2">Choose Weapon</label>
          <div class="container">
            <%= f.collection_select :weapon_a_id, @weapons, :id, :name, class:"form-control select2"%>
          </div>
  </div>
  <div class="col-md-4">
    <div class="img-fluid mt-5">
      <%= image_tag "vs.png"%>
    </div>
  </div>
  <div class="col-md-4 select-character">
    <label class="container mt-4">Choose Player 2</label>
      <div class="container">
          <%= f.collection_select :player_b_id, @characters, :id, :name, class:"form-control select2"%>
      </div>
      <label class="container mt-2">Choose Weapon</label>
      <div class="container">
        <%= f.collection_select :weapon_b_id, @weapons, :id, :name, class:"form-control select2"%>
      </div>
  </div>
</div>
<div class="mb-2">
  <%= f.submit "Fight !", class:"btn btn-outline-dark mt-3 mb-3" %>
</div>
<% end %>
<%= link_to "See weapons", weapons_path, class:"btn btn-outline-dark mt-3 mb-2", id:"weapons_link", remote: true %><br/>
<div id="weapons"></div>
