<h1><%= @winner.name %> won ! </h1>

<h4>What happened:</h4>

<% @game.turns.each do |turn| %>
      <%= turn.attacker.name %> said: 
      <%= turn.line %> <br/>
      <%= turn.attacked.name %> lost <%= turn.attack %> in credibility <br/><br/>
<% end %>
<br/>
That achieved <%= @loser.name %> who just left.
