<h1><%= @game.winner.name %> won ! </h1>

<h4>What happened:</h4>

<% @game.turns.each do |turn| %>
      <%= turn.attacker.name %> said: 
      <%= turn.line %> <br/>
      <%= turn.attacked.name %> lost <%= turn.attack %> points of credibility <br/><br/>
<% end %>
<%= @game.loser.name %> has nothing left to say...<br/>

<%= link_to "New fight", new_game_path, class:"btn btn-outline-dark mt-3 mb-2" %><br/>
<%= link_to "Back to menu", root_path, class:"btn btn-outline-dark mt-3 mb-4" %>

