<%= image_tag @game.winner.avatar.variant(resize: "200x200"), class:"mt-3" %>

<h1 class="mt-2"><%= @game.winner.name %> won ! </h1>

<h4>What happened:</h4>

<%= @game.player_a.name %> had the weapon: <%= @game.weapon_a.name %><br/>
<%= @game.player_b.name %> had the weapon: <%= @game.weapon_b.name %><br/><br/>

<% @game.turns.each do |turn| %>
  <b>It's <%= turn.attacker.name %>'s turn <br/>
   <%= turn.attacker.name %> has <%= turn.attacker_health_points %> of credibility. <%= turn.attacked.name %> has <%= turn.attacked_health_points %> of credibility.</b> <br/>
  <%= turn.attacker.name %> said: 
  <%= turn.line %> <br/>
  <i><%= turn.attacked.name %> lost <%= turn.attack %> points of credibility</i> <br/><br/>
  <% end %>
<b><%= @game.loser.name %> has nothing left to say...</b><br/>

<%= link_to "New fight", new_game_path, class:"btn btn-outline-dark mt-3 mb-2" %><br/>
<%= link_to "Back to menu", root_path, class:"btn btn-outline-dark mt-3 mb-4" %>

