<div class="col-xs-1" align="center">
<%= simple_form_for @character do |f| %>
  <% if @character.errors.any? %>
  <div class='alert alert-danger p-2'>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field col-lg-6 col-sm-12 mt-3 mb-4">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control"%>
  </div>
  <div class="field col-lg-6 col-sm-12 mt-3 mb-4">
    <%= f.label :credibility %>
    <%= f.number_field :health_points, class:"form-control"%>
  </div>
  <div class="field col-lg-6 col-sm-12 mt-3 mb-4">
    <%= f.label :name_dropping_capacity %>
    <%= f.number_field :attack_damage, class:"form-control"%>
  </div>
  <div class="field col-lg-6 col-sm-12 mt-3 mb-4">
    <%= f.label :profile_pic %> <br/>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.button :submit, "Submit", class:"btn btn-outline-dark mt-3" %>
  </div>
<% end %>
</div>
