<div class="container-fluid p-5">
  <h2><%= @character.name %></h2>
  <%= image_tag @character.avatar.variant(resize: "200x200") %>
  <h4 class="mt-2">Credibility: <%= @character.health_points %></h4>
  <h4>Name dropping capacity: <%= @character.attack_damage %></h4>
  <%= link_to "Modify", edit_character_path(@character), class:"btn btn-outline-dark mt-3" %><br/>
  <%= link_to 'Back to players', characters_path, class:"btn btn-outline-dark mt-3" %>
</div>