<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/bootsrap" %>

    <title>Who's the biggest hipster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="jumbotron vertical-center">
      <div class="container text-center pt-2">
        <%= render "layouts/shared/flash_messages" %>
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/shared/javascript" %>
  
  </body>
</html>
